  body {
    font-size: 14px;
    font-family: "PT Sans Narrow", Helvetica, sans-serif;
    line-height: 24px;
    font-weight: normal;
    color: #000;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 14px;
  }

  body {
    min-width: 1122px;
    margin: 0;
    padding: 0;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-header {
    margin-bottom: 60px;
  }

  .main-navigation {
    float: left;
    width: 780px;
    min-height: 70px;
  }
  /*навигационное меню в шапке*/

  .main-nav {
    font-size: 0;
  }

  .main-nav li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    outline: 1px solid black;
    vertical-align: top;
    font-size: 14px;
  }

  .user-block {
    float: right;
    width: 140px;
    min-height: 70px;
    outline: 1px solid black;
    text-align: center
  }

  .index-logo {
    width: 368px;
    min-height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
  }

  .features {
    margin-bottom: 80px;
  }

  .features-item {
    float: left;
    width: 300px;
    min-height: 175px;
    margin-right: 20px;
  }

  .features-item:last-child {
    margin-right: 0;
  }

  .index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
  }

  .index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
  }

  .index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
  }
  /*футер*/

  .main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
  }

  .footer-social {
    float: left;
    width: 180px;
    min-height: 90px;
  }

  .footer-copyright {
    float: right;
    width: 180px;
    min-height: 90px;
  }
  /*позиционирование для каталога*/

  .catalog-navigation {
    display: block;
    padding-top: 53px;
    padding-bottom: 59px;
    outline: 1px solid black;
  }
  /*почему верикальные отступы 72 вместо 53 получаются?*/

  .catalog-navigation h1 {
    margin-bottom: 28px;
  }

  .catalog-nav {
    outline: 1px solid black;
    font-size: 0;
  }

  .catalog-nav li {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    outline: 1px solid black;
    font-size: 14px;
    /*откуда лишние 40 пикселей слева вылезли?*/
  }
  /*позиционирование для фильтров*/

  .catalog-left {
    float: left;
    width: 220px;
    margin-top: -4px;
    /*все равно есть слева отступ. как убрать?*/
    outline: 1px solid black;
  }

  .catalog-items {
    float: right;
    width: 700px;
    outline: 1px solid black;
    font-size: 0;
  }

  .btn {
    min-width: 78px;
    /*кнопки не увеличились!!*/
    min-height: 43px;
    background-color: #000000;
    color: #ffffff;
  }

  .btn-filter {
    width: 112px;
    margin-top: 50px;
    /*почему работает тут  margin-top, а не margin-bottom у вышестоящего элемента catalog-left;?*/
  }
  /*каттлоги товаров*/

  .items-and-prices {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    min-height: 165px;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    outline: 1px solid black;
  }

  .items-and-prices:nth-child(3n) {
    margin-right: 0;
  }

  .pages {
    outline: 1px solid black;
    font-size: 14px;
    padding-top: 45px;
    padding-bottom: 49px;
  }

  .pages a {
    display: inline-block;
    vertical-align: top;
    outline: 1px solid black;
    min-width: 43px;
    min-height: 43px;
    box-sizing: border-box;
    margin-right: 7px;
  }
  /*позиционирование catalog-item.html*/

  .item-images {
    float: left;
    width: 460px;
    min-height: 667px;
    outline: 1px solid black;
  }

  .item-image {
    display: inline-block;
  }

  .description {
    float: right;
    outline: 1px solid black;
    width: 390px;
    box-sizing: border-box;
  }

  .item-footer {
    margin-top: 49px;
  }
