body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-facebook {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-filter1 {
  width: 20px;
  height: 20px;
  background-position: -10px -52px;
}

.sprite-filter2 {
  width: 12px;
  height: 12px;
  background-position: -10px -92px;
}

.sprite-filter3 {
  width: 20px;
  height: 20px;
  background-position: -10px -124px;
}

.sprite-instagram {
  width: 21px;
  height: 21px;
  background-position: -10px -164px;
}

.sprite-item5 {
  width: 11px;
  height: 12px;
  background-position: -10px -205px;
}

.sprite-vkontakte {
  width: 25px;
  height: 16px;
  background-position: -10px -237px;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  width: 100%;
  background-color: #ffffff;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/iconlogin.png") no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/shadow.png") no-repeat center, #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover, .btn:active {
  background-color: #663d15;
}

.btn.disabled, .btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover, .btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  position: relative;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000;
  transition: background-position 0.5s, background-color 0.5s;
}

.social-btn::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  background-image: url("../img/sprite.png");
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 9px -447px;
}

.social-btn-vk::before {
  width: 25px;
  height: 16px;
  background-position: -10px -237px;
}

.social-btn-fb {
  background-position: 15px -171px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -10px;
}

.social-btn-inst {
  background-position: 12px -313px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -164px;
}

.social-btn-vk:hover {
  background-position: 9px -381px;
}

.social-btn-fb:hover {
  background-position: 15px -100px;
}

.social-btn-inst:hover {
  background-position: 12px -242px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}


/*позиционирование для каталога*/

.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs .current::after {
  display: none;
}


/*позиционирование для фильтров*/

.catalog-main, .item-main {
  background-color: #f5f2ef;
  color: #000000;
  padding-bottom: 50px;
}

.catalog-left {
  float: left;
  width: 220px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
}

.form {
  border: none;
}

.form label {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.producers {
  margin-bottom: 50px;
}

.form-groups legend {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 24px;
}

.catalog-filter {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter li {
  margin-bottom: 17px;
}

.catalog-filter li:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  padding-left: 43px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  background-image: url("../img/filter2.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 4px;
}

input[type="checkbox"]:disabled+label::after {
  color: #acaaa8;
}

.groups-items {
  margin-bottom: 50px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  display: block;
  padding-left: 43px;
  margin-bottom: 17px;
  position: relative;
  cursor: pointer;
}

input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
}

input[type="checkbox"]:hover+label::after {
  color: #663d15;
}

input[type="radio"]:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-image: url("../img/filter4.png");
  background-repeat: no-repeat;
}

input[type="radio"]:hover+label::after {
  color: #663d15;
}

input[type="radio"]:disabled+label::after {
  color: #acaaa8;
}


/*что-то не проставляется наведение - что не так*/


/*каталог товаров*/

.catalog-items {
  float: right;
  width: 700px;
  font-size: 0;
}


/*катaлоги товаров*/

.items-and-prices {
  display: inline-block;
  padding: 0;
  padding-bottom: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  min-height: 286px;
  border: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2)
}

.items-and-prices:nth-child(3n) {
  margin-right: 0;
}

.item img {
  margin-bottom: 15px;
}

.item>h2 {
  padding: 0;
  margin: 0;
  min-height: 45px;
  margin-left: 16px;
  padding-bottom: 16px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.item a {
  text-decoration: none;
  color: #000000;
}

.price {
  display: block;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}


/*что то не так с маргинами нижними*/

.price b {
  float: left;
  padding: 15px 25px;
  max-width: 109px;
  text-align: center;
  vertical-align: middle;
  background-color: #e5e5e5;
  font-weight: 700;
}


/*как сделать чтобы все цены одинаковой длины были?*/

.btn.btn-price {
  float: right;
  padding: 15px 20px;
  margin-right: 0;
  max-width: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn-price:hover {
  background-color: #663d15;
}

.pages {
  text-align: center;
  margin-bottom: 50px;
}

.pages a {
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  margin-right: 7px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
}


/*нет нумерации кнопок*/

.pages a:hover, .pages a:active {
  background-color: #663d15;
}

.pages .open-page {
  background-color: #ffffff;
}


/*как этот паддинг у футера убрать?*/


/*позиционирование catalog-item.html*/

.slider {
  font-size: 0
}

.slides {
  float: left;
  width: 460px;
}

.slide {
  display: none;
}

input[name="slider"]+.slide {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 14px;
}

input[name="slider"]+.slide:last-child {
  margin-right: 0;
}

.slide-big {
  margin-bottom: 21px;
}


}
.image1, .image2, .image3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  font-size: 14px;
}
.image:last-child {
  margin-right: 0;
}
.description {
  float: right;
  padding-top: 25px;
  max-width: 400px;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
}
.description section {
  margin-bottom: 60px;
}
.item-presence {
  margin-right: 160px;
}
.item-article {
  color: #aeaeae;
}
.text-description {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
}
.price-item {
  margin-left: 0;
}
.text-description a {
  color: #000000;
  text-decoration: none;
}
.item-contain {
  line-height: 24px;
  font-size: 14px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.item-contain ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.item-piece {
  padding-left: 20px;
  position: relative;
}
.item-piece::before {
  width: 11px;
  height: 12px;
  content: "";
  position: absolute;
  background: url("../img/item5.png") no-repeat;
  top: 5px;
  left: 5px;
}
.item-footer {
  margin-top: 49px;
}

/*модальное окно*/
.modal-content {
  display: none;
  position: absolute;
  margin-left: -230px;
  top: 120px;
  left: 50%;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: -34px;
  font-size: 0;
  background-color: red;
  border: 0;
  cursor: pointer;
}
.modal-content-close::before, .modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"], .login-form input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -504px;
}
.login-form input.icon-password {
  background-image: url("img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -45px;
}

/*спрайты не делала пока!*/
.login-form .restore {
  float: right;
  color: #000000;
}
.login-form .btn {
  width: 100%;
  margin-top: 15px;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before, .login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  transform: rotate(-45deg);
}
.modal-content-map {
  display: none;
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/map.jpg");
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
